mat-card.product-item {
  width: 300px;
  margin: 0.5em;
  .product-image {
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  mat-card-content {
    height: 80px;
  }
  mat-card-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}