<mat-card class="product-item">
    <mat-card-header>
        <mat-card-title>{{ product.shortName }}</mat-card-title>
    </mat-card-header>
    <div class="product-image" [ngStyle]="{'background-image': 'url(\'' + product.primaryImage + '\')'}"></div>
    <mat-card-content>
      {{ product.shortDescription }}
    </mat-card-content>
    <mat-card-actions>
      <span class="price">${{ product.primaryPrice }}</span>
      <button mat-raised-button color="primary" (click)="addProductToCart()">Add to Cart</button>
    </mat-card-actions>
</mat-card>
