@import '../../common/partials/colors';

.products-section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
}

.products-nav {
  display: flex;
  width: 75%;
  margin: 0 auto;
  .spacer {
    flex-grow: 1;
  }
}
