@import '../../common/partials/colors';

.cart-preview-dialog {
  position: relative;
  mat-icon.dialog-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    &:hover {
      transform: scale(1.3);
    }
  }
  mat-list.cart-preview {
    mat-list-item {
      p.mat-line {
        display: flex;
        flex-flow: row nowrap;
        .title {
          flex-grow: 1;
          &.right {
            text-align: right;
            margin-right: 10px;
            color: $dark-grey;
          }
        }
        .price {
          width: 75px;
          text-align: right;
        }
        .quantity {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          mat-icon {
            font-size: 12pt;
            width: 16px;
            height: 16px;
            margin-left: 10px;
            cursor: pointer;
            color: $primary-color-light;
            transition: transform 0.2s ease-in-out;
            transform: scale(1);
            &:hover {
              transform: scale(1.3);
            }
          }
          a {
            margin: 0 5px;
            color: $dark-grey;
            cursor: pointer;
          }
          &.right {
            width: 70px;
            margin-right: 20px;
          }
        }
      }
      &:first-child {
        .price {
          margin-right: 16px;
        }
        .quantity {
          margin-right: 30px;
        }
      }
    }
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  button.checkout {
    background-color: $primary-color;
  }
}
