<div class="about-section">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                About CreateCoffee
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Create Coffee Roasteries Inc. is a coffee roastery focused on providing great tasting coffee with exceptional customer service.
                We value quality of product, productivity in the workplace, and creating and maintaining meaningful relationships. 
            </p>
            <div class="summary-text">
                Being creative is not a prerequisite to enjoying a tasty coffee.
            </div>
            <div class="hash-tag">
                <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
                    <mat-chip><a href="https://www.instagram.com/explore/tags/createcoffee/" target="_blank">#createcoffee</a></mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>
</div>
