$white: #ffffff;
$black: #000000;

$primary-color: #d32f2f;
$primary-color-dark: #9a0007;
$primary-color-light: #ff6659;

$grey: #e0e0e0;
$light-grey: #fafafa;
$dark-grey: #aeaeae;
$super-dark-grey: #333333;
$very-dark-grey: #666666;
